<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Backyard Garden Party Mix.2 (60min) | THINKREC.（シンクレック）</title>
	<meta name="keywords" content="DJ,プロデューサー,音楽レーベル,THINKREC,DJ DUCT,soundcloud,MIX">
	<meta name="description" content="Backyard Garden Party Mix.2 (60min) Free Download !!!">
	<meta property="og:title" content="Backyard Garden Party Mix.2 (60min) | THINKREC.（シンクレック）">
	<meta property="og:description" content="Backyard Garden Party Mix.2 (60min) Free Download !!!">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:url" content="http://thinkrec.com/article/2014/aug/think-01.html">
	<meta property="og:image" content="http://thinkrec.com/img/common/THINKREC_FB_Logo_1200.png">
	<meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.（シンクレック）">
	<link rel="shortcut icon" href="/dist/img/common/favicon.ico" >
	<link rel="stylesheet" href="/css/bundle.min.css">
	<!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
</head>
<body>
	<!-- header_from -->
	<%- include('../../../../include/_header') %>
	<!-- header_to -->
	<div class="wrapper">
		<ol class="breadcrumb-list cf">
			<li><a href="/index.html">HOME</a>&nbsp;&nbsp;&#62;&nbsp;&nbsp;</li>
			<li class="current">Backyard Garden Party Mix.2 (60min) Free Download !!!</li>
		</ol>
		<div class="content cf">
			<div class="article-content">
				<article class="article-box">
					<header class="article-header">
						<h1>DJ DUCT / Backyard Garden Party Mix.2 (60min)</h1>
					</header>
					<p class="article-update"><span class="mr5">update:</span><time datetime="2014-08-01">2014/08/01</time></p>
					<dl class="disc-info-wrap cf">
						<dt><a href="/dist/img/article/2014/aug/BACKYARD-GARDEN-PARTY-MIX.2_800.png" class="close-up" title="Backyard Garden Party Mix.2 (60min)"><img src="/dist/img/article/2014/aug/BACKYARD-GARDEN-PARTY-MIX.2_800.png" width="300" height="300" alt="Backyard Garden Party Mix.2 (60min)"></a></dt>
						<dd><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/161118246&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe></dd>
					</dl>
					<section>
						<dl class="mt20">
							<dt class="b">Track list:</dt>
							<dd>
								<ol>
									<li>Paul Jackson / Burning In The Heat (Of Your Love)</li>
									<li>Ralf Nowy / News From The Chicken Farm</li>
									<li>Cymande  / Bra (DJ DUCT Edit)</li>
									<li>Goody Goody / Bio-Rhythms</li>
									<li>Instant Funk  / I Got My Mind Made Up</li>
									<li>Rim Kwaku Obeng / Gas Line</li>
									<li>Dom Um Romao / Wait On The Corner (DJ DUCT Edit)</li>
									<li>Cedric "Im" Brooks / Praises</li>
									<li>Cleveland Eaton / Chi Town Theme</li>
									<li>Juju & The space rangers / Got To Be Right On It</li>
									<li>Edition Speciale / Mr Business</li>
									<li>The Lyman Woodard Organization / Creative Musicians (DJ DUCT Edit)</li>
									<li>Stanley Cowell / Trying To Find A Way</li>
								</ol>
								<p class="mt10">DJ DUCT / Backyard Garden Party Mix.2 (60min)</p>
								<p>Mix by DJ DUCT (THINKREC./Underground Gallery)</p>
								<p>Mastered by Kabeyah (BEATBAKAYALOW)</p>
								<p class="mt10">&copy; 2014. THINKREC. | Promotional Use Only | Free Download !!!</p>
							</dd>
						</dl>
					</section>
					<footer>
						<ul id="social-buttons" class="social-btn-wrap cf">
							<li class="tweet"></li>
							<li class="facebook_like"></li>
						</ul>
					</footer>
				</article>
			</div>
			<div class="right-content">
				<!-- event-info_from -->
				<%- include('../../../../include/_event-info') %>
				<!-- event-info_to -->
				<!-- news-info_from -->
				<%- include('../../../../include/_news-info') %>
				<!-- news-info_to -->
				<!-- banner_from -->
				<%- include('../../../../include/_banner') %>
				<!-- banner_to -->
			</div>
		</div>
		<!-- footer_from -->
		<%- include('../../../../include/_footer') %>
		<!-- footer_to -->
	</div>
	<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/js/socialbutton.js"></script>
	<script type="text/javascript" src="/js/fancybox.pack.js"></script>
	<script type="text/javascript">
	var menuHeight = $(".jscScrollHeader").height();
	var startPos = 0;
		$(window).scroll(function(){
			var currentPos = $(this).scrollTop();
				if (currentPos > startPos) {
				if($(window).scrollTop() >= 200) {
				$(".jscScrollHeader").css("top", "-" + menuHeight + "px");
			}
		} else {
			$(".jscScrollHeader").css("top", 0 + "px");
		}
		startPos = currentPos;
	});
	</script>
	<script type="text/javascript">
		$(function(){
		   $('a[href^=#]').click(function() {
		      var speed = 400;
		      var href= $(this).attr("href");
		      var target = $(href == "#" || href == "" ? 'html' : href);
		      var position = target.offset().top;
		      $('body,html').animate({scrollTop:position}, speed, 'swing');
		      return false;
		   });
		});
	</script>
	<script type="text/javascript">
		$(function() {
			// twitter-btn
		    $("#social-buttons .tweet").socialbutton("twitter", {
		      button : "horizontal",
		      text   : "DJ DUCT / Backyard Garden Party Mix.2 (60min) Free Download!!!",
		      url    : "http://thinkrec.com/article/2014/aug/think-01.html",
		    }).width(95);
		    // facebook-btn
		    $('.facebook_like').socialbutton('facebook_like',{
		        button: 'button_count',
		        url: 'http://thinkrec.com/article/2014/aug/think-01.html',
		    });
		  });
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".close-up").fancybox({
				'cyclic'        : true
			});
		});
	</script>
</body>
</html>