<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>TodaysArt.JP 2015 TOKYO Launching Party | THINKREC.（シンクレック）</title>
	<meta name="keywords" content="DJ,プロデューサー,音楽レーベル,THINKREC,DJ DUCT,soundcloud,MIX,9dw,DISCO">
	<meta name="description" content="TodaysArt.JP 2015 TOKYO Launching Party">
	<meta property="og:title" content="TodaysArt.JP 2015 TOKYO Launching Party | THINKREC.（シンクレック）">
	<meta property="og:description" content="TodaysArt.JP 2015 TOKYO Launching Party">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:url" content="http://thinkrec.com/article/2015/aug/think-01.html">
	<meta property="og:image" content="http://thinkrec.com/images/common/THINKREC_FB_Logo_1200.png">
	<meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.（シンクレック）">
	<link rel="shortcut icon" href="../../../../images/common/favicon.ico" >
	<link rel="stylesheet" href="/css/bundle.min.css">
<!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
</head>
<body>
	<!-- header_from -->
	<%- include('../../../../include/_header') %>
	<!-- header_to -->
	<div class="wrapper">
		<ol class="breadcrumb-list cf">
			<li><a href="/index.html">HOME</a>&nbsp;&nbsp;&#62;&nbsp;&nbsp;</li>
			<li class="current">TodaysArt.JP 2015 TOKYO Launching Party</li>
		</ol>
		<div class="content cf">
			<div class="article-content">
				<article class="article-box">
					<header class="article-header">
						<h1>TodaysArt.JP 2015 Festivalに先駆けたスペシャルイベント<br>TodaysArt.JP 2015 TOKYO Launching Partyに、DJ DUCT出演決定！</h1>
					</header>
					<p class="article-update"><span class="mr5">update:</span><time datetime="2015-08-02">2015/08/02</time></p>
					<div class="tac">
						<img src="../../../../images/event/2015/0904_tda2015_600.png" width="600" height="388" alt="">
					</div>
					<section>
						<p class="mt10">9月に東京(5~13日＠天王洲アイル一帯)と神戸(19~23日＠神戸アートビレッジセンター他)で開催される、オランダ発の最先端アートの祭典『TodaysArt.JP 2015』に先駆けたLaunching Partyが決定！まずは、長きに渡りデトロイト・テクノ・シーンを牽引し、共にジャンルを超えて世界中のアーティストたちに影響を与え続けるCARL CRAIGとMAD MIKE (UR)によるスペシャル・ユニットが登場。2007年、突如、ジョイント・ライブをパリで敢行し、各界の話題を独占するも音源１枚をリリースして沈黙。そして、いよいよ昨年から活動を再開し、欧米の主要フェスにて、アップデートしたライブ・パフォーマンスを披露。待望の日本初公演が実現！THA BLUE HERBのトラック・メイクのみならず、現在、自身のレーベルSTRUCTを中心に幅広い活動を続けるO.N.Oによるミニマル・テクノ・プロジェクトonomono。ベルリンと東京の2都市を拠点に異彩を放ち続ける気鋭のアーティストAkiko Kiyama。本国オランダでのTodaysArtにも参加した経験を持つDJ DUCTも出演するスペシャルイベントとなる。</p>
						<p class="mt10"><a href="http://tajptokyolaunch.peatix.com/" target="_blank">Get Ticket</a></p>
					</section>
					<footer>
						<ul id="social-buttons" class="social-btn-wrap cf">
							<li class="tweet"></li>
							<li class="facebook_like"></li>
						</ul>
					</footer>
				</article>
			</div>
			<div class="right-content">
				<!-- event-info_from -->
				<%- include('../../../../include/_event-info') %>
				<!-- event-info_to -->
				<!-- news-info_from -->
				<%- include('../../../../include/_news-info') %>
				<!-- news-info_to -->
				<!-- banner_from -->
				<%- include('../../../../include/_banner') %>
				<!-- banner_to -->
			</div>
		</div>
		<!-- footer_from -->
		<%- include('../../../../include/_footer') %>
		<!-- footer_to -->
	</div>
	<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/js/socialbutton.js"></script>
	<script type="text/javascript" src="/js/fancybox.pack.js"></script>
	<script type="text/javascript">
	var menuHeight = $(".jscScrollHeader").height();
	var startPos = 0;
		$(window).scroll(function(){
			var currentPos = $(this).scrollTop();
				if (currentPos > startPos) {
				if($(window).scrollTop() >= 200) {
				$(".jscScrollHeader").css("top", "-" + menuHeight + "px");
			}
		} else {
			$(".jscScrollHeader").css("top", 0 + "px");
		}
		startPos = currentPos;
	});
	</script>
	<script type="text/javascript">
		$(function(){
		   $('a[href^=#]').click(function() {
		      var speed = 400;
		      var href= $(this).attr("href");
		      var target = $(href == "#" || href == "" ? 'html' : href);
		      var position = target.offset().top;
		      $('body,html').animate({scrollTop:position}, speed, 'swing');
		      return false;
		   });
		});
	</script>
	<script type="text/javascript">
		$(function() {
			// twitter-btn
		    $("#social-buttons .tweet").socialbutton("twitter", {
		      button : "horizontal",
		      text   : "TodaysArt.JP 2015 TOKYO Launching Party",
		      url    : "http://thinkrec.com/article/2015/aug/think-01.html",
		    }).width(95);
		    // facebook-btn
		    $('.facebook_like').socialbutton('facebook_like',{
		        button: 'button_count',
		        url: 'http://thinkrec.com/article/2015/aug/think-01.html',
		    });
		  });
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".close-up").fancybox({
				'cyclic'        : true
			});
		});
	</script>
</body>
</html>