<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>THINKREC.</title>
    <meta name="keywords" content="DJ,プロデューサー,音楽レーベル,THINKREC,シンクレック,DJ DUCT,ダクト">
    <meta name="description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル。ミュージシャン、デザイナー、ウェブエンジニア、料理人と共に、音楽制作、アパレル、木工家具のデザイン、飲食店の企画、運営などを手がけ、良質な音楽と楽しい酒を探求">
    <meta property="og:title" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <meta property="og:description" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル。ミュージシャン、デザイナー、ウェブエンジニア、料理人と共に、音楽制作、アパレル、木工家具のデザイン、飲食店の企画、運営などを手がけ、良質な音楽と楽しい酒を探求">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="http://thinkrec.com">
    <meta property="og:image" content="http://thinkrec.com/images/common/THINKREC_FB_Logo_1200.png">
    <meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <link rel="canonical" href="http://thinkrec.com">
    <link rel="shortcut icon" href="/dist/images/common/favicon.ico" >
    <link rel="stylesheet" href="/css/bundle.min.css">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script><![endif]-->
</head>
<body>
<!-- header_from -->
<%- include('./include/_header') %>
<!-- header_to -->
<div id="top" class="wrapper">
    <div class="content">
        <!-- slide_from -->
        <%- include('./include/_slide') %>
        <!-- slide_to -->
        <div class="main-content cf">
            <div class="left-content">
                <!-- release-info_from -->
                <%- include('./include/_release-info') %>
                <!-- release-info_to -->
            </div>
            <div class="center-content">
                <article class="article-box">
                    <a href="/pages/article/2016/jan/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>【New Releases】DJ DUCT / BACKYARD 45 [THINK-10]</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2016-02-11">2016/02/11</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2016/jan/backyard45_480.png" alt="BACKYARD 45" width="480" height="480" class="lazy">
                            </div>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/pages/article/2015/dec/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>BACKYARD 45 MIX.</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-12-13">2015/12/13</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2015/dec/bk45_jacket.png" alt="BACKYARD 45 MIX" width="480" height="480" class="lazy">
                            </div>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/pages/article/2015/aug/think-02.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>DJ DUCT 新作エディット45リリース！</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-08-23">2015/08/23</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2015/aug/backyard45.png" alt="BACKYARD EDIT" width="480" height="480" class="lazy">
                            </div>
                            <p class="mt10">独創的なワンターンテーブル・ライブや、ソウル/ファンク/ジャズ/レアグルーヴと自身のルーツとなる楽曲群のエディット・シリーズ「BACKYARD EDIT」が国内外より高く評価されているDJ DUCTが自身のレーベル＜THINKREC.＞より久々となる新作エディット45をリリース！</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/pages/article/2015/aug/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>TodaysArt.JP 2015 TOKYO Launching Party</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-08-02">2015/08/02</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2015/aug/tda_photo_ama.png" alt="THE CHEEBA MEGAMIX" width="480" height="320" class="lazy">
                            </div>
                            <p class="mt10">TodaysArt.JP 2015 Festivalに先駆けたスペシャルイベント「TodaysArt.JP 2015 TOKYO Launching Party」にDJ DUCT出演！</p>
                            <p class="mt5">Photo: ama (THINKREC./ex.shibuya PLUG)</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/pages/article/2015/mar/think-02.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>THE CHEEBA MEGAMIX</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-03-17">2015/03/17</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2015/mar/cheebacabra_megamix.png" alt="THE CHEEBA MEGAMIX" width="480" height="480" class="lazy">
                            </div>
                            <p class="mt10">Cuts & Megamixed by DJ DUCT / Mastered by Kabeyah</p>
                        </section>
                    </a>
                </article>
                <article class="article-box">
                    <a href="/pages/article/2015/mar/think-01.html" class="article-box-inner">
                        <header class="article-header">
                            <h1>The Cheebacabra Retouched (2LP)</h1>
                        </header>
                        <section>
                            <p class="article-update"><span class="mr5">update:</span><time datetime="2015-03-15">2015/03/15</time></p>
                            <div class="mt5 tac">
                                <img src="" data-original="/images/article/2015/mar/the_cheebacabra.png" alt="The Cheebacabra Retouched" width="480" height="480" class="lazy">
                            </div>
                            <p class="mt10">シアトルのDJ/プロデューサーTHE CHEEBACABRAの過去音源リミキシーズに、9dw、DJ SHINYA、AJA WEST (MACKROSOFT)、ART HODGE、SMOOTH TUTORS等と共に、DJ DUCTも参加。全26トラック収録の2LPカラーヴァイナル！ナンバリング入り500枚限定プレス。</p>
                        </section>
                    </a>
                </article>
            </div>
            <div class="right-content">
                <!-- event-info_from -->
                <%- include('./include/_event-info') %>
                <!-- event-info_to -->
                <!-- news-info_from -->
                <%- include('./include/_news-info') %>
                <!-- news-info_to -->
                <!-- banner_from -->
                <%- include('./include/_banner') %>
                <!-- banner_to -->
            </div>
        </div>
    </div>
    <div class="pager-wrap">
        <ul class="pager cf">
            <li class="fl"><a href="/pages/main/think-01.html" title="prev"><span class="prev-arrow s ol">prev</span></a></li>
            <!-- <li class="fr"><a href="#" title="next"><span class="next-arrow s ol">next</span></a></li> -->
        </ul>
    </div>
    <!-- footer_from -->
    <%- include('./include/_footer') %>
    <!-- footer_to -->
</div>
<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/bxslider-min.js"></script>
<script type="text/javascript" src="/js/lazyload.js"></script>
<script type="text/javascript">
    var menuHeight = $(".jscScrollHeader").height();
    var startPos = 0;
    $(window).scroll(function(){
        var currentPos = $(this).scrollTop();
        if (currentPos > startPos) {
            if($(window).scrollTop() >= 200) {
                $(".jscScrollHeader").css("top", "-" + menuHeight + "px");
            }
        } else {
            $(".jscScrollHeader").css("top", 0 + "px");
        }
        startPos = currentPos;
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#slider').bxSlider({
            auto: true,
            pause:	10000,
            speed: 800,
            mode: 'horizontal',
            pager:true
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $('a[href^=#]').click(function() {
            var speed = 400;
            var href= $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top;
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("img.lazy").lazyload(
            {
                effect: "fadeIn"
            });
    });
</script>
</body>
</html>