<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>DJ DUCT (THINKREC.) | THINKREC.</title>
    <meta name="keywords" content="DJ,DJ DUCT,ダクト,THINKREC,プロデューサー,音楽レーベル,ONE TURNTABLE,ワン・ターンテーブリスト,Underground Gallery">
    <meta name="description" content="DJ DUCT - サンプラーやエフェクターを効果的に使い、超絶なスクラッチを駆使しながらも、たった一台のターンテーブルでプレイするという、 その全くもってユニークなライブ・スタイルでトーキョー・アンダーグラウンドを席巻し、今や世界のアンダーグラウンド・シーンでも名を馳せる孤高の無頼派。DJ DUCTブッキングに関しましては、djduct@thinkrec.comまでご連絡ください。">
    <meta property="og:title" content="DJ DUCT (THINKREC.) | THINKREC.">
    <meta property="og:description" content="DJ DUCT - サンプラーやエフェクターを効果的に使い、超絶なスクラッチを駆使しながらも、たった一台のターンテーブルでプレイするという、 その全くもってユニークなライブ・スタイルでトーキョー・アンダーグラウンドを席巻し、今や世界のアンダーグラウンド・シーンでも名を馳せる孤高の無頼派。DJ DUCTブッキングに関しましては、djduct@thinkrec.comまでご連絡ください。">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="http://thinkrec.com/artist/DJ-DUCT.html">
    <meta property="og:image" content="http://thinkrec.com/images/common/THINKREC_FB_Logo_1200.png">
    <meta property="og:site_name" content="DJ/プロデューサーのDJ DUCTが主催する音楽レーベル | THINKREC.">
    <link rel="shortcut icon" href="../../images/common/favicon.ico" >
    <link rel="stylesheet" href="/css/bundle.min.css">
    <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
</head>
<body>
<!-- facebook_from -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook_to -->
<!-- header_from -->
<%- include('../../include/_header') %>
<!-- header_to -->
<div class="wrapper">
    <ol class="breadcrumb-list cf">
        <li><a href="/index.html">HOME</a>&nbsp;&nbsp;&#62;&nbsp;&nbsp;</li>
        <li class="current">ARTIST</li>
    </ol>
    <div class="content cf">
        <div class="article-content">
            <article class="article-box">
                <header class="article-header">
                    <h1>DJ DUCT (THINKREC.)</h1>
                </header>
                <div class="img-wrap mt20 tac">
                    <img src="../../images/artist/djduct2016.jpg" width="760" height="507" alt="DJ DUCT">
                </div>
                <ul id="tabs" class="language-choice">
                    <li name="japanese">日本語</li><!--
					 --><li name="english">English</li>
                </ul>
                <dl id="japanese" class="jp-profile">
                    <dt>Profile</dt>
                    <dd>サンプラーやエフェクターを効果的に使い、超絶なスクラッチを駆使しながらも、たった一台のターンテーブルでプレイするという、その全くもってユニークなライブ・スタイルでトーキョー・アンダーグラウンドを席巻し、今や世界のアンダーグラウンド・シーンでも名を馳せる孤高の無頼派「DJ DUCT」。 閃きと経験によって矢継ぎ早に再構築される音像群、圧倒的なMIXセンスで構成される彼の「ワン・ターンテーブリスト」ライブは、聴くものだけでなく、観るものすべてを魅了する。自身の主宰するTHINKREC.(シンク・レック)よりバイナル中心に作品をリリース。現場主義を貫き、その現場感覚が生み出された「BACKYARD EDIT」シリーズは、海外からも大きな反響を呼んでいる。Hip Hop～Rare Groove Funkから、Detroit Techno～Deep Houseまでの音楽レンジを手に入れた彼には、ジャンルを超えた、これまで以上に縦横無尽な活躍を期待せずにはいられない。</dd>
                </dl>
                <dl id="english" class="en-profile" lang="en">
                    <dt class="b">Profile</dt>
                    <dd class="mt10">DJ DUCT is known as an one-of-a-kind turntablist and a producer in Japan. He has been actively participating in Tokyo’s hip hop and break beats scene as a DJ since late 90s. It was the time when the term ‘turntablism’ was first introduced, and the art of spinning records progressed so dramatically in the hip hop world onto another level.As he witnessed such advancement, and immersed himself deeper and deeper into the art, he began to wonder if he could develop a completely new way of DJing using just one turntable, instead of two or more that all the other turntablists at the time were using. He wanted to be different, and he wanted to be good. DJ DUCT’s ‘less is more’ approach to turntablism have led him to establish his current unique style of performing. Using one turntable, a DJ mixer, a sampler, Kaoss-pads and other effectors, he collages and reconstructs the bits and pieces of sounds he captures from the records on the spot. It involves a lot of sampling, real-time editing, effect mixing and scratching all taking place on stage. Since all the sounds come from the records (and no preliminary recorded materials on the sampler), it’s definitely a live performance, and an extension of DJing more than anything else. He soon took his special skills to the studio, and proven himself to become an acclaimed beat maker in the country. He has released his first full length album Monkey’s Fist from his own imprint “THINKREC.” in 2005, and the second full length Bindweed from an independent record label “Libyus Music” in 2007, as well as numerous remixes and DJ mixes. He is experienced in working with MCs and other collaborators from both inside and outside of Japan including J-Live, Fat Jon (Five Deez) and Mike Ladd. In 2014, he is up and ready to introduce his music to the world !!!</dd>
                </dl>
                <dl class="duct-info-wrap cf">
                    <dt>Website :</dt><!--
					 --><dd class="link-style"><a href="http://djduct.com/" target="_blank">djduct.com</a></dd><!--
					 --><dt>Booking :</dt><!--
					 --><dd class="link-style"><a href="mailto:djduct@thinkrec.com">djduct@thinkrec.com</a></dd>
                </dl>
                <div class="mt20">
                    <iframe src="https://player.vimeo.com/video/36535924" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <dl class="mt20">
                    <dt class="b">DISCOGRAPHY</dt>
                    <dd class="mt10">
                        <ol class="discList">
                            <li><span>“BACKYARD 45”</span> [7”/ THINKREC./2016]</li>
                            <li><span>“SOME LIKE THAT”</span> [CD ALBUM/THINKREC. - UNDERGROUND GALLERY/2014]</li>
                            <li><span>“BLUE SAUCE”</span> [MIXCD/ SOULPOT RECORDS./2013]</li>
                            <li><span>“STEPAK-TAKRAW - TUK TUK DRIVER (DJ DUCT EDIT)”</span> [7”/ NNNF./2012]</li>
                            <li><span>“ONE TURNTABLE LIVE MIX._Today : Tomorrow_BACKYARD EDIT PT.5”</span> [MIXCD/ THINKREC./2011]</li>
                            <li><span>“BACKYARD EDIT PT.4_Detroit Session”</span> [12”/ THINKREC./2011]</li>
                            <li><span>“BANQUET EP”</span> [12”/ SONIMAGE LAB/2010]</li>
                            <li><span>“9dw /rmx”</span> [CD ALBUM/ catune/ene/2010]</li>
                            <li><span>“SOFT VS DJ DUCT”</span> [7”/ NNNF./2010]</li>
                            <li><span>“BACKYARD EDIT PT.3”</span> [12”/ THINKREC./2010]</li>
                            <li><span>“BROKEN RESEARCH 2”Deviant / DJ DUCT</span> [12”/ Motech/2010]</li>
                            <li><span>“BACKYARD EDIT PT.2”</span> [12”/ THINKREC./2010]</li>
                            <li><span>“BACKYARD EDIT PT.1”</span> [12”/ THINKREC./2009]</li>
                            <li><span>“Deeper Remix EP1” - feat. O.N.O remix / DJ DUCT remix</span> [12”/ Hitechfunk/2009]</li>
                            <li><span>“The TBS Project”</span> [V.A./ Mary Joy Recordings/2008]</li>
                            <li><span>“BIND BREAKS”</span> [12”/Face The Music/2007]</li>
                            <li><span>“BINDWEED”</span> [CD ALBUM/Libyus Music/2007]</li>
                            <li><span>“INTRODUCTION TO DJ DUCT PT.TWO”</span> [MIXCD/LESSON BREED RECORDS/2006]</li>
                            <li><span>“underground broadcasting”</span> [V.A./ FESN/2006]</li>
                            <li><span>“AFRICAN JAG VOL.1”</span> [V.A./ JAG LABEL/2006]</li>
                            <li><span>“BIND E.P.”</span> [12”/Libyus Music/2006]</li>
                            <li><span>“embodied ? e.p.”</span> [12”/THINKREC./2005]</li>
                            <li><span>“ONE TURNTABLE LIVE MIX.”</span> [MIXCD/THINKREC./2005]</li>
                            <li><span>"Monkey’s Fist"</span> [CD ALBUM/THINKREC./2005]</li>
                        </ol>
                    </dd>
                </dl>
            </article>
        </div>
        <div class="right-content">
            <!-- event-info_from -->
            <%- include('../../include/_event-info') %>
            <!-- event-info_to -->
            <!-- news-info_from -->
            <%- include('../../include/_news-info') %>
            <!-- news-info_to -->
            <!-- banner_from -->
            <%- include('../../include/_banner') %>
            <!-- banner_to -->
        </div>
    </div>
    <!-- footer_from -->
    <%- include('../../include/_footer') %>
    <!-- footer_to -->
</div>
<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    var menuHeight = $(".jscScrollHeader").height();
    var startPos = 0;
    $(window).scroll(function(){
        var currentPos = $(this).scrollTop();
        if (currentPos > startPos) {
            if($(window).scrollTop() >= 200) {
                $(".jscScrollHeader").css("top", "-" + menuHeight + "px");
            }
        } else {
            $(".jscScrollHeader").css("top", 0 + "px");
        }
        startPos = currentPos;
    });
</script>
<script type="text/javascript">
    $(function(){
        $('a[href^=#]').click(function() {
            var speed = 400;
            var href= $(this).attr("href");
            var target = $(href == "#" || href == "" ? 'html' : href);
            var position = target.offset().top;
            $('body,html').animate({scrollTop:position}, speed, 'swing');
            return false;
        });
    });
</script>
<script type="text/javascript">
    window.onload = function() {
        tab();
    }
    function tab(id) {
        var lis = document.getElementById("tabs").getElementsByTagName("li");
        for(var i = 0; i < lis.length;i++) {
            if(id) {
                var n = lis[i].getAttribute("name");
                var box = document.getElementById(n);
                if(n == id) {
                    box.style.display		= "block";
                    box.style.visibility	= "visible";
                    lis[i].className		= "open";
                } else {
                    box.style.display		= "none";
                    box.style.visibility	= "hidden";
                    lis[i].className		= "";
                }
            } else {
                lis[i].onclick = function() {
                    tab(this.getAttribute("name"));
                }
            }
        }
        if(!id) {
            tab("japanese");
        }
    }
</script>
</body>
</html>